html,
body {
    width: 95%;
    height: 95%;
    background-color: black;
}
#sun {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100px;
    width: 100px;
    margin-top: -50px;
    margin-left: -50px;
    border-color: orange;
    border-width: 2px;
    border-style: solid;
    border-radius: 50%;
    box-shadow: 0 0 64px yellow;
}
#earth {
    height: 50px;
    width: 50px;
}
#earth-orbit {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 500px;
    margin-top: -250px;
    margin-left: -250px;
}
#moon {
    height: 10px;
    width: 10px;
}
#moon-orbit {
    top: 50%;
    left: 50%;
    width: 75px;
    height: 75px;
    margin-left: -20px;
    margin-bottom: -60px;
}
@-webkit-keyframes spin-right {
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin-right {
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.earth-orbit-slow {
    -webkit-animation: spin-right 365.25s linear infinite;
    -moz-animation: spin-right 365.25s linear infinite;
    -ms-animation: spin-right 365.25s linear infinite;
    -o-animation: spin-right 365.25s linear infinite;
    animation: spin-right 365.25s linear infinite;
}
.moon-orbit-slow {
    -webkit-animation: spin-right 29.5s linear infinite;
    -moz-animation: spin-right 29.5s linear infinite;
    -ms-animation: spin-right 29.5s linear infinite;
    -o-animation: spin-right 29.5s linear infinite;
    animation: spin-right 29.5s linear infinite;
}
.earth-orbit-fast {
    -webkit-animation: spin-right 12.25s linear infinite;
    -moz-animation: spin-right 12.25s linear infinite;
    -ms-animation: spin-right 12.25s linear infinite;
    -o-animation: spin-right 12.25s linear infinite;
    animation: spin-right 12.25s linear infinite;
}
.moon-orbit-fast {
    -webkit-animation: spin-right 1.02s linear infinite;
    -moz-animation: spin-right 1.02s linear infinite;
    -ms-animation: spin-right 1.02s linear infinite;
    -o-animation: spin-right 1.02s linear infinite;
    animation: spin-right 1.02s linear infinite;
}
